h1 {
  font-size: 46px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 240px;
}

h4 {
  font-size: 2px;
}

h5 {
  font-size: 1.125em;
}

body {
  font-family: Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0;
  padding: 0;
}

article {
  width: 600px;
  margin: 0 auto;
  background-color: #fff6e0;
  padding: 1em;
  border-radius: 0.625em;
}

a {
  color: #00c4c7;
}

a:hover {
  color: #c80060;
}
