$primary-color: #00c4c7;
$secondary-color: #c80060;

h1 {
	background-color: $primary-color;
	color: white;
	font-weight: normal;
	font-family: Georgia, serif;
	font-style: italic;
}
h2, h4 {
	@extend h1;
	background-color: $secondary-color;
}
h3, h5 {
	@extend h1;
}






body {
	font-family: Arial, Geneva, sans-serif;
	background-image: url(../img/clouds.png);
	margin: 0;
	padding: 0; 
}
article {
	width: 600px;
	margin: 0 auto;
	background-color: #fff6e0;
	padding: 1em;
	border-radius: 0.625em;
}

a {
	color: #00c4c7;
}
a:hover {
	color: #c80060;
}
h1 {
	//color: #c80060;
}