
$mycolor: #c80060 !default;




/* what colors are strong and h2? */

strong {
	$mycolor: #00c4c7 !global;
	color: $mycolor;
}
h2 {
	color: $mycolor;
}


body {
	font-family: Arial, Geneva, sans-serif;
	background-image: url(../img/clouds.png);
	margin: 0;
	padding: 0; 
}
article {
	width: 600px;
	margin: 0 auto;
	background-color: #fff6e0;
	padding: 1em;
	border-radius: 0.625em;
}

a {
	color: #00c4c7;
}
a:hover {
	color: #c80060;
}
h1 {
	//color: #c80060;
}