h1, h2, h4, h3, h5 {
  background-color: #00c4c7;
  color: white;
  font-weight: normal;
  font-family: Georgia, serif;
  font-style: italic;
}

h2, h4 {
  background-color: #c80060;
}

.box {
  width: 100px;
  height: 100px;
  margin: 1em;
  padding: 1em;
  color: white;
}

.box-primary {
  background-color: #00c4c7;
  border-radius: 10px;
}

.box-secondary {
  background-color: #c80060;
}

body {
  font-family: Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0;
  padding: 0;
}

article {
  width: 600px;
  margin: 0 auto;
  background-color: #fff6e0;
  padding: 1em;
  border-radius: 0.625em;
}

a {
  color: #00c4c7;
}

a:hover {
  color: #c80060;
}
